.choresText {
   color: palevioletred;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   text-decoration: underline;
   text-align: left;
}